@page "/counter"
@inherits CounterBase

<h1>Counter</h1>
<p style="font-family:@_fontFamily ">Current is 44381</p>
<p>Current count me: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
